#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
   
}
#but{
    width: 100px;
    height: 30px;
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: green;
    color: white;
    cursor: pointer;
}
#but:hover{
    background-color: red;
    transition: 0.5s;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.xxx{
    border: 2px solid black;
    width: 100px;
    height: 50px;
    border-radius: 15px;
}
.container h1{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: lightseagreen;
}